footer
{
    background-color: $white;
    .footer
    {
        display: flex;
        background: $principal-orange;
        padding-top: 40px;
        color: white;
        text-align: center;
        flex-direction: column;
        align-items: center;

        &__title
        {
            text-align: left;
            font-size: $subtitle-font-size;
        }

        &__img
        {
            width: 20%;
            margin-bottom: 50px;
            min-width: 200px;    
        }

        &-media
        {
            display: flex;
            margin-bottom: 20px;
            margin-top: 40px;

            &__content
            {
                margin: 20px 0px 20px 0px;

                &-img
                {
                width: 20%;
                max-width: 300px;
                }

                &-subtitle
                {

                    font-size: $social-font-size;

                }
            }  
        }
       .copy
        {
            width: 100%;
            display: flex;
            padding: 20px 0px 20px 0px;
            justify-content: center;
            background-color: $hard-orange;
            margin-top: 40px;

            &__title
            {
                color: $white;
                font-size: $input-font-size;
            }
                
            &__hard
            {
                font-weight: bolder;
            }
         } 
    }
}

