
@media (max-width: 1023px) 
{
    .header-intuitive
    {
        &__contain
        {
            margin-right: 5%;
            margin-left: 5%;

            &-link
            {
                min-width: 0;
                
                &-duo
                {
                    margin: 0;
                }
            }

            .navbar-intuitive
            {
                justify-content: flex-end;

                .navbar-intuitive__menu
                {
                    display: none; 
                }
                
                .mobile-nav-toggle
                {
                    display: block;
                }
            }

            .navbar-mobile 
            {
                display: flex;
                position: fixed;
                overflow: hidden;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background: rgba(23, 35, 46, 0.9);
                transition: 0.3s;
                z-index: 999;

                .mobile-nav-toggle 
                {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }

                .mobile__navbar-intuitive
                {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: flex-start;
                    align-items: center;
                    position: absolute;
                    top: 55px;
                    right: 15px;
                    bottom: 15px;
                    left: 15px;
                    padding: 10px 0;
                    background-color: $dark-gray;
                    overflow-y: auto;
                    transition: 0.3s;

                    &-item
                    {
                        font-size: 15px;
                        padding: 10px 20px;

                        &-link
                        {
                            color: $principal-orange;
                            justify-content: center;
                            font-weight: 500;
                            margin-bottom: 5px;
                        }
                    }

                    &-block
                    {
                        box-shadow: $heavy-shadow-white;
                        width: 90%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 10px 0;
                    }
                }
            }
        }
    }

    .hero
    {
        &__contain
        {
            &-title
            {
                font-size: $title-font-size;
                margin-bottom: 20px;
            }

            &-subtitle
            {
                font-size: $subtitle-font-size;
                margin-top: 20px;
            }
        }
    }

    .intuitive-main
    {
        .product-description
        {
            .product-description__head
            {
                .product-description__head-title
                {
                    font-size: $title-font-size;
                    text-align: center;
                }

                .product-description__head-subtitle
                {
                    font-size: $subtitle-font-size;
                    text-align: center;
                }
            
            }

            .product-description__block
            {
                flex-direction: column;
                padding: 0;
                padding-top: 20%;

                .product-description__block-img
                {
                    height: auto;
                    max-width: 50%;
                }

                .product-description__block-contain
                {  
                    width: 90%;
                    .product-description__block-contain-title
                    {
                        text-align: center;

                    }
                    .product-description__block-contain-subtitle
                    {
                        text-align: center;
                    }
                }
            }
        }

        .components
        {
            padding-top: 20%;

            .components-title
            {
                font-size: $title-font-size;
                text-align: center;
            }

            .components__row
            {
                padding-top: 10%;
                flex-direction: column;
                align-items: center;

                .components__row-card
                {
                    .components__row-card-img
                    {
                        width: 50%;
                        min-width: 200px;
                        height: auto;
                    }

                    &-subtitle
                    {
                        text-align: center;
                    }
                }
            }
        }

        .standarized
        {
            padding-top: 20%;

            .standarized-title
            {
                font-size: $title-font-size;
                margin-bottom: 20px;
                text-align: center;
                
            }
            .standarized-subtitle
            {
                font-size: $subtitle-font-size;
                text-align: center;
 
            }
            .standarized__row
            {
                padding: 0;
                padding-top: 20%;
                flex-direction: column;

                .standarized__row-img
                {
                    width: 50%;
                    min-width: 250px;
                }

                .standarized__row-text
                {
                    padding: 0 50px;

                    &-title
                    {
                        text-align: center;
                    }

                    &-subtitle
                    {
                        text-align: center;
                        padding-bottom: 100px;
                    }
                }
            }
        }

        .cards
        {
            padding-top: 20%;

            &-title
            {
                font-size: $subtitle-font-size;
            }

            &__block
            {
                padding: 0;
                padding-top: 10%;
                display: flex;
                flex-direction: column;

                &-container
                {
                    margin-bottom: 50px;

                    &-img
                    {
                        width: 100%;
                    }

                    &-title
                    {
                        font-weight: 500;
                        margin-bottom: 10px;
                    }

                    &:hover
                    {
                        transform: scale(1.05);
                    }
                }
            }
        }

        .breadcrumb
        {
            flex-direction: column;

            &__title
            {
                padding-left: 0; 
            }

            &__section
            {
                padding-right: 0; 
            }
        }
    }

    .intuitive-footer
    {
        .intuitive-footer
        {
            display: flex;
            background: $gray;
            padding: 40px 0;
            color: $white;
            text-align: center;
            flex-direction: column;
            align-items: center;

            &__title
            {
                text-align: left;
                font-size: $subtitle-font-size;
            }

            &__img
            {
                width: 20%;
                margin-bottom: 50px;
                min-width: 200px;    
            }

            &-media
            {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                margin-top: 40px;

                &__content
                {
                    margin: 20px 0px 20px 0px;

                    &-img
                    {
                    width: 20%;
                    max-width: 300px;
                    }

                    &-subtitle
                    {

                        font-size: $social-font-size;

                    }
                }   
            }
        }
    }

    .intuitive-copy
    {

        &__title
        {
            text-align: center;
        }
    }
}

