@media (max-width: 480px) 
{
    .header-bk
    {
        &__contain
        {
            margin-right: 5%;
            margin-left: 5%;

            &-link
            {
                min-width: 0;
                
                &-duo
                {
                    margin: 0;
                }
            }
            .navbar-bk
            {
                justify-content: flex-end;

                .navbar-bk__menu
                {
                    display: none; 
                }
                
                .mobile-nav-toggle
                {
                    display: block;
                }
            }

            .navbar-mobile 
            {
                display: flex;
                position: fixed;
                overflow: hidden;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background: rgba(23, 35, 46, 0.9);
                transition: 0.3s;
                z-index: 999;

                .mobile-nav-toggle 
                {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }

                .mobile__navbar-bk
                {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: flex-start;
                    align-items: center;
                    position: absolute;
                    top: 55px;
                    right: 15px;
                    bottom: 15px;
                    left: 15px;
                    padding: 10px 0;
                    background-color: $white;
                    overflow-y: auto;
                    transition: 0.3s;

                    &-item
                    {
                        font-size: 15px;
                        padding: 10px 20px;

                        &-link
                        {
                            color: $green;
                            justify-content: center;
                            font-weight: 500;
                            margin-bottom: 5px;
                        }
                    }

                    &-block
                    {
                        box-shadow: $heavy-shadow;
                        width: 90%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 10px 0;
                    }
                }
            }
        }
    }

    .bk-main
    {

        .product-description
        {
            .product-description__container 
            {
                padding: 12% 0;
                width: 100%;
                margin: 0;
                padding-right: 10px;
                padding-left: 10px;

                .product-description__container-title
                {
                    font-size: $small-title-font-size;
                    margin-bottom: 20px;
                    padding-left: 20px;
                }
                
                .product-description__container-block 
                {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-left: 20px;
                    
                    .product-description__container-block-text 
                    {
                        font-size: $small-title-font-size;
                    } 
                }

                    @keyframes animate 
                    {

                        0% 
                        {
                        opacity: 0;
                        transform: translateY(-50px);
                        }
                    
                        2% 
                        {
                        opacity: 1;
                        transform: translateY(0px);
                        }
                    
                        15% 
                        {
                        opacity: 1;
                        transform: translateY(0px);
                        }
                    
                        20% 
                        {
                        opacity: 0;
                        transform: translateY(50px);
                        }
                    
                        80% 
                        {
                        opacity: 0;
                        transform: translateY(50px);
                        }
                    
                        100% 
                        {
                        opacity: 0;
                        transform: translateY(50px);
                        }
                    }

                    .product-description__container-block-text:nth-child(1) 
                    {
                        animation-delay: 0s;
                    }
                    
                    .product-description__container-block-text:nth-child(2) {
                        animation-delay: 2s;
                    }
                    
                    .product-description__container-block-text:nth-child(3) {
                        animation-delay: 4s;
                    }
                    
                    .product-description__container-block-text:nth-child(4) {
                        animation-delay: 6s;
                    }
                    
                    .product-description__container-block-text:nth-child(5) {
                        animation-delay: 8s;
                    }
                    
                    .product-description__container-block-text:nth-child(6) {
                        animation-delay: 10s;
                    }

                    .product-description__block-contain-subtitle
                    {
                        margin: 200px 0;
                        text-align: center;
                    }
            }
            
        }

        .components
        {
            padding-top: 20%;
            padding-bottom: 20%;

            .components-title
            {
                font-size: $small-title-font-size;
                margin-bottom: 20px;
            }
            .swiper-container 
            {
                .swiper-pagination
                { 
                    display: none;

                    .swiper-pagination-bullet 
                    {
                        margin: 10px 35px;
                        border-radius: 5px;
                        width: auto;
                        text-align: center;
                        line-height: 30px;
                        font-size: $subtitle-font-size;
                        color: $white;
                        opacity: 1;
                        background: rgba(0, 0, 0, 0.2);
                    }
                
                    .swiper-pagination-bullet-active {

                        color: $white;
                        background: $white;
                    }
                }

                .swiper-wrapper
                {
                    .swiper-slide 
                    {
                        &__row-block
                        {
                            flex-direction: column;
                            align-items: center;
                            margin: 0;

                            &-description
                            {
                                width: 90%;
                                height: 800px;
                                padding: 20px 20px;

                                &-title
                                {
                                    font-size: $title-font-size;
                                }
                            }

                            &-show
                            {
                                width: 90%;
                                margin: 0;
                                padding-bottom: 50px;

                                &-subtitle
                                {
                                    font-size: $input-font-size;
                                    padding-top: 10px;
                                }
                            }
                        }
                    }
                }
            }   
        }

        .standarized
        {
            padding-top: 20%;

            .standarized-title
            {
                font-size: $small-title-font-size;
                margin-bottom: 0;    
                text-align: center;
            }

            .standarized__row
            {
                flex-direction: column;
                margin-top: 12%;

                .standarized__row-block
                {
                    width: 100%;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &-img
                    {
                        width: 70%;
                        margin-bottom: 30px;
                        min-width: 270px;
                    }
                }

                .swiper-container 
                {
                    width: 100%;
                    margin: 0;
                
                    .swiper-pagination-bullet-active 
                    {
                        background-color: $green;
                    }

                    .swiper-slide 
                    {

                        &-img
                        {
                            width: 70%;
                            min-width: 270px;
                            height: auto;
                        }
                    }
                }
            }
        }
        
        .reasons
        {
            padding-top: 20%;
            padding-bottom: 20%;

            .reasons-title
            {
                font-size: $small-title-font-size;
                margin-bottom: 50px;
            }

            .reasons__row
            {
                padding-top: 10%;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding: 0;
                margin: 0;

                .reasons__row-card
                {
                    background-color: $white;
                    padding: 50px 10px;
                    width: 100%;
                    margin: 0;

                    img
                    {
                        min-width: 250px;
                        width: 33%;
                    }

                    .reasons__row-card-title
                    {
                        font-weight: 500;
                        color: $green;
                        margin-top: 50px;
                        font-size: $breadcrumb-font-size;
                        text-align: center;
                        text-align: center;
                    }

                    .reasons__row-card-subtitle
                    {
                        text-align: center;
                    }
                }
            }
        }

        .product-show
        {

            .product-show__head
            {
                width: 100%;

                .product-show__head-title
                {
                    font-size: $title-font-size;
                    margin-bottom: 20px;
                    text-align: center;
                }

            }

            .product-show__block
            {
                flex-direction: column;
                padding: 0;
                padding-top: 50px;

                .product-show__block-img
                {
                    height: auto;
                    max-width: 30%;
                    vertical-align: middle;
                    margin-bottom: 50px;
                    min-width: 250px;
                }

                .product-show__block-contain
                {
                    width: 90%;

                    .product-show__block-contain-img
                    {
                        padding-bottom: 30px;
                        width: 250px;
                        height: auto;
                    }
                
                    .product-show__block-contain-list
                    {
                        .product-show__block-contain-list-item
                        {
                            color: $gray;
                            padding-bottom: 20px;

                            span
                            {
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }

        .cards
        {
            padding-top: 20%;

            &-title
            {
                font-size: $small-title-font-size;
                width: 90%;
                text-align: center;
            }

            &__block
            {
                width: 100%;
                padding: 0;
                padding-top: 5%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-content: center;
                justify-content: space-evenly;
                align-items: baseline;
                padding-top: 5%;

                &-container
                {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    padding: 50px 50px;
                    transition: 300ms;

                    &-img
                    {
                        width: 200px;
                        height: auto;
                        border-radius: 10px;
                    }

                    &-title
                    {
                        font-weight: 500;
                        margin-top: 10px;
                    }

                    &:hover
                    {
                        transform: scale(1.05);
                    }
                }
            }

            &__button
            {
                padding: 10px 20px;
                border: 2px solid $green;
                margin: 100px 0 200px 0;
                border-radius: 10px;
                transition: 300ms;
                cursor: pointer;

                &-link
                {
                    color: $green;
                    font-weight: 500;
                }

                &:hover
                {
                    background-color: $green;

                    .cards__button-link
                    {
                        color: $white;
                    }
                    
                }
            }
        }

        .breadcrumb-bk
        {
            flex-direction: column;
    
            &__title
            {
                padding-left: 0; 
            }
    
            &__section
            {
                padding-right: 0; 
            }
        }
    }
    
    .bk-footer
    {
        .bk-footer
        {
            display: flex;
            background: linear-gradient(45deg, #1d8649, #7fbc42);
            padding: 40px 0;
            color: $white;
            text-align: center;
            flex-direction: column;
            align-items: center;
    
            &__title
            {
                text-align: left;
                font-size: $subtitle-font-size;
            }
    
            &__img
            {
                width: 20%;
                margin-bottom: 50px;
                min-width: 200px;    
            }
    
            &-media
            {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                margin-top: 40px;
    
                &__content
                {
                    margin: 20px 0px 20px 0px;
    
                    &-img
                    {
                    width: 20%;
                    max-width: 300px;
                    }
    
                    &-subtitle
                    {
    
                        font-size: $social-font-size;
    
                    }
                }   
            }
        }
    }
    
    .bk-copy
    {
    
        &__title
        {
            text-align: center;
        }
    }   
}


@media (min-width: 481px) and (max-width: 1023px)
{
    .header-bk
    {
        &__contain
        {
            margin-right: 5%;
            margin-left: 5%;

            &-link
            {
                min-width: 0;
                
                &-duo
                {
                    margin: 0;
                }
            }
            .navbar-bk
            {
                justify-content: flex-end;

                .navbar-bk__menu
                {
                    display: none; 
                }
                
                .mobile-nav-toggle
                {
                    display: block;
                }
            }

            .navbar-mobile 
            {
                display: flex;
                position: fixed;
                overflow: hidden;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background: rgba(23, 35, 46, 0.9);
                transition: 0.3s;
                z-index: 999;

                .mobile-nav-toggle 
                {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }

                .mobile__navbar-bk
                {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: flex-start;
                    align-items: center;
                    position: absolute;
                    top: 55px;
                    right: 15px;
                    bottom: 15px;
                    left: 15px;
                    padding: 10px 0;
                    background-color: $white;
                    overflow-y: auto;
                    transition: 0.3s;

                    &-item
                    {
                        font-size: 15px;
                        padding: 10px 20px;

                        &-link
                        {
                            color: $green;
                            justify-content: center;
                            font-weight: 500;
                            margin-bottom: 5px;
                        }
                    }

                    &-block
                    {
                        box-shadow: $heavy-shadow;
                        width: 90%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 10px 0;
                    }
                }
            }
        }
    }

    .bk-main
    {

        .product-description
        {
            .product-description__container 
            {
                padding: 12% 0;
                width: 100%;
                margin: 0;
                padding-right: 10px;
                padding-left: 10px;

                .product-description__container-title
                {
                    font-size: $title-font-size;
                    margin-bottom: 20px;
                    padding-left: 20px;
                }
                
                .product-description__container-block 
                {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-left: 20px;
                    
                    .product-description__container-block-text 
                    {
                        font-size: $title-font-size;
                    } 
                }

                    @keyframes animate 
                    {

                        0% 
                        {
                        opacity: 0;
                        transform: translateY(-50px);
                        }
                    
                        2% 
                        {
                        opacity: 1;
                        transform: translateY(0px);
                        }
                    
                        15% 
                        {
                        opacity: 1;
                        transform: translateY(0px);
                        }
                    
                        20% 
                        {
                        opacity: 0;
                        transform: translateY(50px);
                        }
                    
                        80% 
                        {
                        opacity: 0;
                        transform: translateY(50px);
                        }
                    
                        100% 
                        {
                        opacity: 0;
                        transform: translateY(50px);
                        }
                    }

                    .product-description__container-block-text:nth-child(1) 
                    {
                        animation-delay: 0s;
                    }
                    
                    .product-description__container-block-text:nth-child(2) {
                        animation-delay: 2s;
                    }
                    
                    .product-description__container-block-text:nth-child(3) {
                        animation-delay: 4s;
                    }
                    
                    .product-description__container-block-text:nth-child(4) {
                        animation-delay: 6s;
                    }
                    
                    .product-description__container-block-text:nth-child(5) {
                        animation-delay: 8s;
                    }
                    
                    .product-description__container-block-text:nth-child(6) {
                        animation-delay: 10s;
                    }

                    .product-description__block-contain-subtitle
                    {
                        margin: 200px 0;
                        text-align: center;
                    }
            }
            
        }

        .components
        {
            padding-top: 20%;
            padding-bottom: 20%;

            .components-title
            {
                font-size: $title-font-size;
                margin-bottom: 20px;
            }
            .swiper-container 
            {
                .swiper-pagination
                { 
                    display: none;

                    .swiper-pagination-bullet 
                    {
                        margin: 10px 35px;
                        border-radius: 5px;
                        width: auto;
                        text-align: center;
                        line-height: 30px;
                        font-size: $subtitle-font-size;
                        color: $white;
                        opacity: 1;
                        background: rgba(0, 0, 0, 0.2);
                    }
                
                    .swiper-pagination-bullet-active {

                        color: $white;
                        background: $white;
                    }
                }

                .swiper-wrapper
                {
                    .swiper-slide 
                    {
                        &__row-block
                        {
                            flex-direction: column;
                            align-items: center;
                            margin: 0;

                            &-description
                            {
                                width: 90%;
                                height: 800px;
                                padding: 20px 20px;

                                &-title
                                {
                                    font-size: $big-title-font-size;
                                }

                                &-subtitle
                                {
                                    font-size: $small-title-font-size;
                                }
                            }

                            &-show
                            {
                                width: 90%;
                                margin: 0;
                                padding-bottom: 50px;

                                &-subtitle
                                {
                                    font-size: $subtitle-font-size;
                                    padding-top: 10px;
                                }
                            }
                        }
                    }
                }
            }   
        }

        .standarized
        {
            padding-top: 20%;

            .standarized-title
            {
                font-size: $title-font-size;
                margin-bottom: 0;    
                text-align: center;
            }

            .standarized__row
            {
                flex-direction: column;
                margin-top: 12%;

                .standarized__row-block
                {
                    width: 100%;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &-img
                    {
                        width: 70%;
                        margin-bottom: 30px;
                        min-width: 270px;
                    }
                }

                .swiper-container 
                {
                    width: 100%;
                    margin: 0;
                
                    .swiper-pagination-bullet-active 
                    {
                        background-color: $green;
                    }

                    .swiper-slide 
                    {

                        &-img
                        {
                            width: 70%;
                            min-width: 270px;
                            height: auto;
                        }
                    }
                }
            }
        }
        
        .reasons
        {
            padding-top: 20%;
            padding-bottom: 20%;

            .reasons-title
            {
                font-size: $title-font-size;
                margin-bottom: 50px;
            }

            .reasons__row
            {
                padding-top: 10%;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding: 0;
                margin: 0;

                .reasons__row-card
                {
                    background-color: $white;
                    padding: 50px 10px;
                    width: 100%;
                    margin: 0;

                    img
                    {
                        min-width: 250px;
                        width: 33%;
                    }

                    .reasons__row-card-title
                    {
                        font-weight: 500;
                        color: $green;
                        margin-top: 50px;
                        font-size: $breadcrumb-font-size;
                        text-align: center;
                        text-align: center;
                    }

                    .reasons__row-card-subtitle
                    {
                        text-align: center;
                    }
                }
            }
        }

        .product-show
        {

            .product-show__head
            {
                width: 100%;

                .product-show__head-title
                {
                    font-size: $title-font-size;
                    margin-bottom: 20px;
                    text-align: center;
                }

            }

            .product-show__block
            {
                flex-direction: column;
                padding: 0;
                padding-top: 50px;

                .product-show__block-img
                {
                    height: auto;
                    max-width: 30%;
                    vertical-align: middle;
                    margin-bottom: 50px;
                    min-width: 250px;
                }

                .product-show__block-contain
                {
                    width: 90%;

                    .product-show__block-contain-img
                    {
                        padding-bottom: 30px;
                        width: 250px;
                        height: auto;
                    }
                
                    .product-show__block-contain-list
                    {
                        .product-show__block-contain-list-item
                        {
                            color: $gray;
                            padding-bottom: 20px;

                            span
                            {
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }

        .cards
        {
            padding-top: 20%;

            &-title
            {
                font-size: $title-font-size;
                width: 90%;
                text-align: center;
            }

            &__block
            {
                width: 100%;
                padding: 0;
                padding-top: 5%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-content: center;
                justify-content: space-evenly;
                align-items: baseline;
                padding-top: 5%;

                &-container
                {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    padding: 50px 50px;
                    transition: 300ms;

                    &-img
                    {
                        width: 200px;
                        height: auto;
                        border-radius: 10px;
                    }

                    &-title
                    {
                        font-weight: 500;
                        margin-top: 10px;
                    }

                    &:hover
                    {
                        transform: scale(1.05);
                    }
                }
            }

            &__button
            {
                padding: 10px 20px;
                border: 2px solid $green;
                margin: 100px 0 200px 0;
                border-radius: 10px;
                transition: 300ms;
                cursor: pointer;

                &-link
                {
                    color: $green;
                    font-weight: 500;
                }

                &:hover
                {
                    background-color: $green;

                    .cards__button-link
                    {
                        color: $white;
                    }
                    
                }
            }
        }

        .breadcrumb-bk
        {
            flex-direction: column;
    
            &__title
            {
                padding-left: 0; 
            }
    
            &__section
            {
                padding-right: 0; 
            }
        }
    }
    
    .bk-footer
    {
        .bk-footer
        {
            display: flex;
            background: linear-gradient(45deg, #1d8649, #7fbc42);
            padding: 40px 0;
            color: $white;
            text-align: center;
            flex-direction: column;
            align-items: center;
    
            &__title
            {
                text-align: left;
                font-size: $subtitle-font-size;
            }
    
            &__img
            {
                width: 20%;
                margin-bottom: 50px;
                min-width: 200px;    
            }
    
            &-media
            {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                margin-top: 40px;
    
                &__content
                {
                    margin: 20px 0px 20px 0px;
    
                    &-img
                    {
                    width: 20%;
                    max-width: 300px;
                    }
    
                    &-subtitle
                    {
    
                        font-size: $social-font-size;
    
                    }
                }   
            }
        }
    }
    
    .bk-copy
    {
    
        &__title
        {
            text-align: center;
        }
    }   
}

