$principal-orange: #f8963a;
$secondary-orange: #faab60;
$light-orange: #ffc58f;
$hard-orange: #fa8f2b;
$blue:#08107b;
$light-blue: #6ea4ca;
$very-light-blue: #f0f9ff;
$polymedco-blue: #0168b3;
$copy-polymedco-blue: #5d9ecc;
$green: #12994a;
$hard-green: #0f773a;
$light-green:#9edd51;
$hard-blue:#070d63;
$white: #fff;
$black: #000;
$gray: #16161c;
$dark-gray: #12121a;
$heavy-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
$soft-shadow:  0px 0px 12px 0px rgba(0, 0, 0, 0.1);
$title-font-size: 2.25rem;
$small-title-font-size: 1.75rem;
$breadcrumb-font-size: 1.5rem;
$subtitle-font-size: 1.125rem;
$big-title-font-size: 4.5rem;
$gigant-title-font-size: 5.625rem;
$big-submenu-title-font-size: 3rem;
$nav-font-size: 0.9375rem;
$input-font-size: 0.875rem;
$social-font-size: 1rem;
$small-subtitle-text: 0.75rem;